@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Montserrat:700,600,800,900');
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: 100%;
}


/* each screen takes 100% of screen */

.screen {
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    background: #fff;
}

.background {
    z-index: 0;
    padding-bottom: 211px;
    background-image: url('../img/line.svg');
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60px;
    pointer-events: none;
    display: flex;
    justify-content: center;
}

.subheaders {
    text-align: center;
}

.property {
    z-index: 1;
    text-align: center;
    width: 50%;
    transition: all 0.3s ease-out;
}

.property--c {
    align-self: flex-end;
}

.active-item {
    width: 100%;
}

.crossed-item {
    text-decoration: line-through;
    pointer-events: none;
}

.bottom-sheet {
    position: fixed;
    bottom: 0px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-2cols {
    display: flex;
}

.col50 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}


/* titles */

h1 {
    z-index: 1;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
}
h1.intro-text {
    line-height: 22px;
}

.screen--mark h1 {
    padding: 90px 0 60px 0;
}

.subheaders {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 21px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    /* border-bottom:1px solid #000; */
}

.underline {
    display: inline-block;
    width: 44px;
    height: 1px;
    background: #000;
}

.subheaders.header-w {
    font-family: 'Libre Baskerville', serif;
}

.property {
    font-size: 10px;
    line-height: 16px;
    margin-top:10px;
}

.property--c {
    font-family: 'Montserrat', sans-serif;
}

.property--w {
    font-family: 'Libre Baskerville', serif;
}

.results-screen-padding {
    height: 90px;
}

.results-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 540px;
}

.results-block .active-item {
    width: auto;
}

.results-w,
.results-c {
    margin-right: 3px;
    display: inline;
    font-size: 10px;
    line-height: 15px;
}

.results-block-wrap {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 21px;
}

.results-w {
    font-family: 'Libre Baskerville', serif;
}

.results-c {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    text-align: center;
    margin: 0px;
    font-size: 8px;
    line-height: 11px;
    font-family: 'Montserrat', sans-serif;
}

h4.is-w-title {
    font-family: 'Libre Baskerville', serif;
}

span {
    display: inline-block;
}


/* Buttons */

.button--attr {
    font-size: 12px;
    font-family: 'Libre Baskerville', serif;
    color: #000;
    text-transform: uppercase;
    width: 240px;
    text-align: center;
}

.hide-button {
    opacity: 0;
    pointer-events: none;
}

.glow {
    background-image: url("../img/next-glow.svg");
    background-repeat: no-repeat;
}

.glow img {
    opacity: 0;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.loader-dot {
    display: inline-block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: #000;
    margin: 16px;
    animation-name: load;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.loader-dot:nth-child(1) {
    animation-delay: 0.1s;
}

.loader-dot:nth-child(2) {
    animation-delay: 0.3s;
}

.loader-dot:nth-child(3) {
    animation-delay: 0.5s;
}

.intro-logo {
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 40s;
    animation-timing-function: linear;
    display: inline-block;
    position: absolute;
    top: calc(50% - 270px);
}

@keyframes load {
    0% {
        background-color: #000;
    }
    80% {
        background-color: rgba(0, 0, 0, 0);
    }
    90% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: #000;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* for desktop */

@media screen 
  and (min-device-width: 1200px) 
  /* and (max-device-width: 1600px)  */
  /* and (min-resolution: 192dpi) {  */
{

    .results-screen-padding {
        height: 70px;
    }

    

    .screen--mark h1 {
        padding-top: 70px;
    }
    body {
        overflow: hidden;
    }

    .intro-logo {
        top: calc(50% - 210px);
    }
    .intro-line {
        display: inline-block;
        position: absolute;
        top: calc(50% - 210px);
    }
.container-top {
    position: relative;
    width:590px;
    height:95vh;
    overflow: hidden;
box-shadow: 0 2px 18px 0 rgba(0,0,0,0.15);
margin: auto auto;
margin-top: 2vh;
}

.bottom-sheet {
    left: calc(50% - (590px / 2));
    width: 590px;
}

.property {
 margin-top:2px;
  
}

.results-w, .results-c {
    font-size: 8px;
    line-height: 11px; 
}

.background {
    background-image: url('../img/line-short.svg');
}
}