<!doctype html>
<html ng-app="app">

<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>We the human beings</title>

      <meta name="description" content="A NEW CONSTITUTION PROPOSAL">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/reset.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">


</head>

<body id="top">
      <div ng-controller="index">
            <div class='screen screen--first' ng-show="screen==0">
                        <div class="results-screen-padding"></div>
                        <div class="background">
                              <img src="img/logo.svg" alt="">
                        </div>
                  
                  




            </div>

            <div class='screen screen--first' ng-show="screen==1">
                        <div class="results-screen-padding"></div>
                        <div class="background"></div>
                  
                  <h1>A<br>
                        <br>CHOOSE ONLY THREE SUBRANKINGS
                        <br> FROM EITHER LIST OF SUGGESTED ATTRIBUTES</h1>
                  <h1>B<br>
                        <br>IF YOU DONT FIND ANY OF THE SUBRANKINGS FIT,
                        <br>JUST PRESS THE LOWER RIGHT ARROW
                        <br>TO CONTINUE</h1>
                  <h1>C<br>
                        <br>AFTER YOU HAVE FINISHED
                        <br>THE COMPUTER WILL PROCESS YOUR
                        <br>CHOSEN ATTRIBUTES FOR YOUR
                        <br>OWN NEW CONSTITUTION</h1>
                  <h1>D<br>
                        <br>WHEN FINISHED PLEASE PRESS
                        <br>THE PRINT BUTTON</h1>
                  <h1>E<br>
                        <br>SIGN YOUR NAME, WARM THE WAX
                        <br>AND EMBOSS THE STAMP</h1>



            </div>

            <div class='screen screen--first' ng-show="screen==2">
                        <div class="results-screen-padding"></div>
                        <div class="background"></div>
                  <h1 ng-click="screen=3">I<br>ADVENTURE</h1>
                  <h1 ng-click="screen=4">II<br>CITIZENSHIP</h1>
                  <h1 ng-click="screen=5">III<br>CULTURAL INFLUENCE</h1>
                  <h1  ng-click="screen=6">IV<br>ENTREPRENEURSHIP</h1>
                  <h1 ng-click="screen=7">V<br>HERITAGE</h1>
                  <h1 ng-click="screen=8">VI<br>MOVERS</h1>
                  <h1 ng-click="screen=9">VII<br>OPEN FOR BUSINESS</h1>
                  <h1 ng-click="screen=10">VIII<br>POWER</h1>
                  <h1 ng-click="screen=11">IX<br>QUALITY OF LIFE</h1>


            </div>
            <div class='screen screen--mark' ng-show="screen==3">
                  <div class="background"></div>
                  <h1>I<br>ADVENTURE</h1>
                  <div class="flex-2cols">
                        <div class="col50"><div class="subheaders header-w">WHARTON</div><div class="underline"></div></div><div class="col50"><div class="subheaders header-c">CONSTITUTION </div><div class="underline"></div>      </div>
                  </div>
                  <div class="property property--w" ng-init="screen1.prop1 = false" ng-click="screen1.prop1 = !screen1.prop1;countScreen()"
                        ng-class="{'active-item': screen1.prop1,'crossed-item':(screen1.total>maxAttributes && !screen1.prop1)}">Friendly</div>
                  <div class="property property--c" ng-init="screen1.prop2 = false" ng-click="screen1.prop2 = !screen1.prop2;countScreen()"
                        ng-class="{'active-item': screen1.prop2,'crossed-item':(screen1.total>maxAttributes && !screen1.prop2)}">Safe Exploring</div>
                  <div class="property property--w" ng-init="screen1.prop3 = false" ng-click="screen1.prop3 = !screen1.prop3;countScreen()"
                        ng-class="{'active-item': screen1.prop3,'crossed-item':(screen1.total>maxAttributes && !screen1.prop3)}">Fun</div>
                  <div class="property property--c" ng-init="screen1.prop4 = false" ng-click="screen1.prop4 = !screen1.prop4;countScreen()"
                        ng-class="{'active-item': screen1.prop4,'crossed-item':(screen1.total>maxAttributes && !screen1.prop4)}">Outgoing</div>
                  <div class="property property--w" ng-init="screen1.prop5 = false" ng-click="screen1.prop5 = !screen1.prop5;countScreen()"
                        ng-class="{'active-item': screen1.prop5,'crossed-item':(screen1.total>maxAttributes && !screen1.prop5)}">Pleasant Climate</div>
                  <div class="property property--c" ng-init="screen1.prop6 = false" ng-click="screen1.prop6 = !screen1.prop6;countScreen()"
                        ng-class="{'active-item': screen1.prop6,'crossed-item':(screen1.total>maxAttributes && !screen1.prop6)}">Wild Life</div>
                  <div class="property property--w" ng-init="screen1.prop7 = false" ng-click="screen1.prop7 = !screen1.prop7;countScreen()"
                        ng-class="{'active-item': screen1.prop7,'crossed-item':(screen1.total>maxAttributes && !screen1.prop7)}">Scenic</div>
                  <div class="property property--c" ng-init="screen1.prop8 = false" ng-click="screen1.prop8 = !screen1.prop8;countScreen()"
                        ng-class="{'active-item': screen1.prop8,'crossed-item':(screen1.total>maxAttributes && !screen1.prop8)}">Non Homo-Centric</div>
                  <div class="property property--w" ng-init="screen1.prop9 = false" ng-click="screen1.prop9 = !screen1.prop9;countScreen()"
                        ng-class="{'active-item': screen1.prop9,'crossed-item':(screen1.total>maxAttributes && !screen1.prop9)}">Sexy</div>
            </div>
            <div class='screen screen--mark' ng-show="screen==4">
                  <div class="background"></div>
                  <h1>II<br>CITIZENSHIP</h1>
                        <div class="flex-2cols">
                                    <div class="col50"><div class="subheaders header-w">WHARTON</div><div class="underline"></div></div><div class="col50"><div class="subheaders header-c">CONSTITUTION </div><div class="underline"></div>      </div>
                              </div>
                  <div class="property property--w" ng-init="screen2.prop1 = false" ng-click="screen2.prop1 = !screen2.prop1;countScreen()"
                        ng-class="{'active-item': screen2.prop1,'crossed-item':(screen2.total>maxAttributes && !screen2.prop1)}">Cares About Human Rights</div>
                  <div class="property property--c" ng-init="screen2.prop2 = false" ng-click="screen2.prop2 = !screen2.prop2;countScreen()"
                        ng-class="{'active-item': screen2.prop2,'crossed-item':(screen2.total>maxAttributes && !screen2.prop2)}">Cares About The Environment</div>
                  <div class="property property--w" ng-init="screen2.prop3 = false" ng-click="screen2.prop3 = !screen2.prop3;countScreen()"
                        ng-class="{'active-item': screen2.prop3,'crossed-item':(screen2.total>maxAttributes && !screen2.prop3)}">Gender Equality</div>
                  <div class="property property--w" ng-init="screen2.prop4 = false" ng-click="screen2.prop4 = !screen2.prop4;countScreen()"
                        ng-class="{'active-item': screen2.prop4,'crossed-item':(screen2.total>maxAttributes && !screen2.prop4)}">Progressive</div>
                  <div class="property property--w" ng-init="screen2.prop5 = false" ng-click="screen2.prop5 = !screen2.prop5;countScreen()"
                        ng-class="{'active-item': screen2.prop5,'crossed-item':(screen2.total>maxAttributes && !screen2.prop5)}">Religious Freedom</div>
                  <div class="property property--w" ng-init="screen2.prop6 = false" ng-click="screen2.prop6 = !screen2.prop6;countScreen()"
                        ng-class="{'active-item': screen2.prop6,'crossed-item':(screen2.total>maxAttributes && !screen2.prop6)}">Respects Property Rights</div>
                  <div class="property property--w" ng-init="screen2.prop7 = false" ng-click="screen2.prop7 = !screen2.prop7;countScreen()"
                        ng-class="{'active-item': screen2.prop7,'crossed-item':(screen2.total>maxAttributes && !screen2.prop7)}">Trustworthy</div>
                  <div class="property property--w" ng-init="screen2.prop8 = false" ng-click="screen2.prop8 = !screen2.prop8;countScreen()"
                        ng-class="{'active-item': screen2.prop8,'crossed-item':(screen2.total>maxAttributes && !screen2.prop8)}">Well-Distributed Political Power</div>
            </div>
            <div class='screen screen--mark' ng-show="screen==5">
                  <div class="background"></div>
                  <h1>III<br>CULTURAL INFLUENCE</h1>
                        <div class="flex-2cols">
                                    <div class="col50"><div class="subheaders header-w">WHARTON</div><div class="underline"></div></div><div class="col50"><div class="subheaders header-c">CONSTITUTION </div><div class="underline"></div>      </div>
                              </div>
                  <div class="property property--w" ng-init="screen3.prop1 = false" ng-click="screen3.prop1 = !screen3.prop1;countScreen()"
                        ng-class="{'active-item': screen3.prop1,'crossed-item':(screen3.total>maxAttributes && !screen3.prop1)}">Culturally Significant In Terms
                        <br>Of Entertainment</div>
                  <div class="property property--c" ng-init="screen3.prop2 = false" ng-click="screen3.prop2 = !screen3.prop2;countScreen()"
                        ng-class="{'active-item': screen3.prop2,'crossed-item':(screen3.total>maxAttributes && !screen3.prop2)}">Art As An Engine For Growth
                        <br>And Entrepreneurship</div>
                  <div class="property property--w" ng-init="screen3.prop3 = false" ng-click="screen3.prop3 = !screen3.prop3;countScreen()"
                        ng-class="{'active-item': screen3.prop3,'crossed-item':(screen3.total>maxAttributes && !screen3.prop3)}">Fashionable</div>
                  <div class="property property--c" ng-init="screen3.prop4 = false" ng-click="screen3.prop4 = !screen3.prop4;countScreen()"
                        ng-class="{'active-item': screen3.prop4,'crossed-item':(screen3.total>maxAttributes && !screen3.prop4)}">Diverse And Open For Different
                        <br>Influences Contemporary</div>
                  <div class="property property--w" ng-init="screen3.prop5 = false" ng-click="screen3.prop5 = !screen3.prop5;countScreen()"
                        ng-class="{'active-item': screen3.prop5,'crossed-item':(screen3.total>maxAttributes && !screen3.prop5)}">Happy</div>
                  <div class="property property--c" ng-init="screen3.prop6 = false" ng-click="screen3.prop6 = !screen3.prop6;countScreen()"
                        ng-class="{'active-item': screen3.prop6,'crossed-item':(screen3.total>maxAttributes && !screen3.prop6)}">Support Art As Educational Necessity</div>
                  <div class="property property--w" ng-init="screen3.prop7 = false" ng-click="screen3.prop7 = !screen3.prop7;countScreen()"
                        ng-class="{'active-item': screen3.prop7,'crossed-item':(screen3.total>maxAttributes && !screen3.prop7)}">Has An Influential Culture</div>
                  <div class="property property--c" ng-init="screen3.prop8 = false" ng-click="screen3.prop8 = !screen3.prop8;countScreen()"
                        ng-class="{'active-item': screen3.prop8,'crossed-item':(screen3.total>maxAttributes && !screen3.prop8)}">Modern</div>
                  <div class="property property--w" ng-init="screen3.prop9 = false" ng-click="screen3.prop9 = !screen3.prop9;countScreen()"
                        ng-class="{'active-item': screen3.prop9,'crossed-item':(screen3.total>maxAttributes && !screen3.prop9)}">Prestigious</div>
                  <div class="property property--w" ng-init="screen3.prop10 = false" ng-click="screen3.prop10 = !screen3.prop10;countScreen()"
                        ng-class="{'active-item': screen3.prop10,'crossed-item':(screen3.total>maxAttributes && !screen3.prop10)}">Trendy</div>
            </div>
            <div class='screen screen--mark' ng-show="screen==6">
                  <div class="background"></div>
                  <h1>IV<br>ENTREPRENEURSHIP</h1>
                        <div class="flex-2cols">
                                    <div class="col50"><div class="subheaders header-w">WHARTON</div><div class="underline"></div></div><div class="col50"><div class="subheaders header-c">CONSTITUTION </div><div class="underline"></div>      </div>
                              </div>
                  <div class="property property--w" ng-init="screen4.prop1 = false" ng-click="screen4.prop1 = !screen4.prop1;countScreen()"
                        ng-class="{'active-item': screen4.prop1,'crossed-item':(screen4.total>maxAttributes && !screen4.prop1)}">Connected To The Rest Of The World</div>
                  <div class="property property--c" ng-init="screen4.prop2 = false" ng-click="screen4.prop2 = !screen4.prop2;countScreen()"
                        ng-class="{'active-item': screen4.prop2,'crossed-item':(screen4.total>maxAttributes && !screen4.prop2)}">Entrepreneurship That Reflects
                        <br>the Diversity of the Population</div>
                  <div class="property property--w" ng-init="screen4.prop3 = false" ng-click="screen4.prop3 = !screen4.prop3;countScreen()"
                        ng-class="{'active-item': screen4.prop3,'crossed-item':(screen4.total>maxAttributes && !screen4.prop3)}">Educated Population</div>
                  <div class="property property--c" ng-init="screen4.prop4 = false" ng-click="screen4.prop4 = !screen4.prop4;countScreen()"
                        ng-class="{'active-item': screen4.prop4,'crossed-item':(screen4.total>maxAttributes && !screen4.prop4)}">Skilled Labor Force In All Fields</div>
                  <div class="property property--w" ng-init="screen4.prop5 = false" ng-click="screen4.prop5 = !screen4.prop5;countScreen()"
                        ng-class="{'active-item': screen4.prop5,'crossed-item':(screen4.total>maxAttributes && !screen4.prop5)}">Entrepreneurial</div>
                  <div class="property property--c" ng-init="screen4.prop6 = false" ng-click="screen4.prop6 = !screen4.prop6;countScreen()"
                        ng-class="{'active-item': screen4.prop6,'crossed-item':(screen4.total>maxAttributes && !screen4.prop6)}">Social Mobility</div>
                  <div class="property property--w" ng-init="screen4.prop7 = false" ng-click="screen4.prop7 = !screen4.prop7;countScreen()"
                        ng-class="{'active-item': screen4.prop7,'crossed-item':(screen4.total>maxAttributes && !screen4.prop7)}">Innovative</div>
                  <div class="property property--c" ng-init="screen4.prop8 = false" ng-click="screen4.prop8 = !screen4.prop8;countScreen()"
                        ng-class="{'active-item': screen4.prop8,'crossed-item':(screen4.total>maxAttributes && !screen4.prop8)}">Provides Easy Access To Capital</div>
                  <div class="property property--w" ng-init="screen4.prop9 = false" ng-click="screen4.prop9 = !screen4.prop9;countScreen()"
                        ng-class="{'active-item': screen4.prop9,'crossed-item':(screen4.total>maxAttributes && !screen4.prop9)}">Skilled Labor Force</div>
                  <div class="property property--w" ng-init="screen4.prop10 = false" ng-click="screen4.prop10 = !screen4.prop10;countScreen()"
                        ng-class="{'active-item': screen4.prop10,'crossed-item':(screen4.total>maxAttributes && !screen4.prop10)}">Transparent Business</div>
                  <div class="property property--w" ng-init="screen4.prop11 = false" ng-click="screen4.prop11 = !screen4.prop11;countScreen()"
                        ng-class="{'active-item': screen4.prop11,'crossed-item':(screen4.total>maxAttributes && !screen4.prop11)}">Practices</div>
                  <div class="property property--w" ng-init="screen4.prop12 = false" ng-click="screen4.prop12 = !screen4.prop12;countScreen()"
                        ng-class="{'active-item': screen4.prop12,'crossed-item':(screen4.total>maxAttributes && !screen4.prop12)}">Well-Developed Infrastructure</div>
                  <div class="property property--w" ng-init="screen4.prop13 = false" ng-click="screen4.prop13 = !screen4.prop13;countScreen()"
                        ng-class="{'active-item': screen4.prop13,'crossed-item':(screen4.total>maxAttributes && !screen4.prop13)}">Well-Developed Legal Framework</div>
            </div>
            <div class='screen screen--mark' ng-show="screen==7">
                  <div class="background"></div>
                  <h1>V<br>HERITAGE</h1>
                        <div class="flex-2cols">
                                    <div class="col50"><div class="subheaders header-w">WHARTON</div><div class="underline"></div></div><div class="col50"><div class="subheaders header-c">CONSTITUTION </div><div class="underline"></div>      </div>
                              </div>
                  <div class="property property--w" ng-init="screen5.prop1 = false" ng-click="screen5.prop1 = !screen5.prop1;countScreen()"
                        ng-class="{'active-item': screen5.prop1,'crossed-item':(screen5.total>maxAttributes && !screen5.prop1)}">Culturally Accessible</div>
                  <div class="property property--c" ng-init="screen5.prop2 = false" ng-click="screen5.prop2 = !screen5.prop2;countScreen()"
                        ng-class="{'active-item': screen5.prop2,'crossed-item':(screen5.total>maxAttributes && !screen5.prop2)}">Promotes And Preserves The
                        <br>Heritage Of The Different Social
                        <br>Groups Of Its Citizens</div>
                  <div class="property property--w" ng-init="screen5.prop3 = false" ng-click="screen5.prop3 = !screen5.prop3;countScreen()"
                        ng-class="{'active-item': screen5.prop3,'crossed-item':(screen5.total>maxAttributes && !screen5.prop3)}">Has A Rich History</div>
                  <div class="property property--c" ng-init="screen5.prop4 = false" ng-click="screen5.prop4 = !screen5.prop4;countScreen()"
                        ng-class="{'active-item': screen5.prop4,'crossed-item':(screen5.total>maxAttributes && !screen5.prop4)}">Has Great Food</div>
                  <div class="property property--w" ng-init="screen5.prop5 = false" ng-click="screen5.prop5 = !screen5.prop5;countScreen()"
                        ng-class="{'active-item': screen5.prop5,'crossed-item':(screen5.total>maxAttributes && !screen5.prop5)}">Many Cultural Attractions</div>

            </div>
            <div class='screen screen--mark' ng-show="screen==8">
                  <div class="background"></div>
                  <h1>VI<br>MOVERS</h1>
                        <div class="flex-2cols">
                                    <div class="col50"><div class="subheaders header-w">WHARTON</div><div class="underline"></div></div><div class="col50"><div class="subheaders header-c">CONSTITUTION </div><div class="underline"></div>      </div>
                              </div>
                  <div class="property property--w" ng-init="screen6.prop1 = false" ng-click="screen6.prop1 = !screen6.prop1;countScreen()"
                        ng-class="{'active-item': screen6.prop1,'crossed-item':(screen6.total>maxAttributes && !screen6.prop1)}">Different</div>
                  <div class="property property--w" ng-init="screen6.prop2 = false" ng-click="screen6.prop2 = !screen6.prop2;countScreen()"
                        ng-class="{'active-item': screen6.prop2,'crossed-item':(screen6.total>maxAttributes && !screen6.prop2)}">Distinctive</div>
                  <div class="property property--w" ng-init="screen6.prop3 = false" ng-click="screen6.prop3 = !screen6.prop3;countScreen()"
                        ng-class="{'active-item': screen6.prop3,'crossed-item':(screen6.total>maxAttributes && !screen6.prop3)}">Dynamic</div>
                  <div class="property property--w" ng-init="screen6.prop4 = false" ng-click="screen6.prop4 = !screen6.prop4;countScreen()"
                        ng-class="{'active-item': screen6.prop4,'crossed-item':(screen6.total>maxAttributes && !screen6.prop4)}">Unique</div>
            </div>
            <div class='screen screen--mark' ng-show="screen==9">
                  <div class="background"></div>
                  <h1>VII<br>OPEN FOR BUSINESS</h1>
                        <div class="flex-2cols">
                                    <div class="col50"><div class="subheaders header-w">WHARTON</div><div class="underline"></div></div><div class="col50"><div class="subheaders header-c">CONSTITUTION </div><div class="underline"></div>      </div>
                              </div>
                  <div class="property property--w" ng-init="screen7.prop1 = false" ng-click="screen7.prop1 = !screen7.prop1;countScreen()"
                        ng-class="{'active-item': screen7.prop1,'crossed-item':(screen7.total>maxAttributes && !screen7.prop1)}">Bureaucratic</div>
                  <div class="property property--c" ng-init="screen7.prop2 = false" ng-click="screen7.prop2 = !screen7.prop2;countScreen()"
                        ng-class="{'active-item': screen7.prop2,'crossed-item':(screen7.total>maxAttributes && !screen7.prop2)}">Friendly Updates Bureaucracy</div>
                  <div class="property property--w" ng-init="screen7.prop3 = false" ng-click="screen7.prop3 = !screen7.prop3;countScreen()"
                        ng-class="{'active-item': screen7.prop3,'crossed-item':(screen7.total>maxAttributes && !screen7.prop3)}">Cheap Manufacturing Costs</div>
                  <div class="property property--c" ng-init="screen7.prop4 = false" ng-click="screen7.prop4 = !screen7.prop4;countScreen()"
                        ng-class="{'active-item': screen7.prop4,'crossed-item':(screen7.total>maxAttributes && !screen7.prop4)}">Low Manufacturing Costs</div>
                  <div class="property property--w" ng-init="screen7.prop5 = false" ng-click="screen7.prop5 = !screen7.prop5;countScreen()"
                        ng-class="{'active-item': screen7.prop5,'crossed-item':(screen7.total>maxAttributes && !screen7.prop5)}">Corrupt</div>
                  <div class="property property--c" ng-init="screen7.prop6 = false" ng-click="screen7.prop6 = !screen7.prop6;countScreen()"
                        ng-class="{'active-item': screen7.prop6,'crossed-item':(screen7.total>maxAttributes && !screen7.prop6)}">Equale Representation For All Gender/
                        <br>Races Backgrounds In Key Positions</div>
                  <div class="property property--w" ng-init="screen7.prop7 = false" ng-click="screen7.prop7 = !screen7.prop7;countScreen()"
                        ng-class="{'active-item': screen7.prop7,'crossed-item':(screen7.total>maxAttributes && !screen7.prop7)}">Favorable Tax Environment</div>
                  <div class="property property--c" ng-init="screen7.prop8 = false" ng-click="screen7.prop8 = !screen7.prop8;countScreen()"
                        ng-class="{'active-item': screen7.prop8,'crossed-item':(screen7.total>maxAttributes && !screen7.prop8)}">Transparent Government Practices</div>
                  <div class="property property--w" ng-init="screen7.prop9 = false" ng-click="screen7.prop9 = !screen7.prop9;countScreen()"
                        ng-class="{'active-item': screen7.prop9,'crossed-item':(screen7.total>maxAttributes && !screen7.prop9)}">Transparent Government Practices</div>
            </div>
            <div class='screen screen--mark' ng-show="screen==10">
                  <div class="background"></div>
                  <h1>VIII<br>POWER</h1>
                        <div class="flex-2cols">
                                    <div class="col50"><div class="subheaders header-w">WHARTON</div><div class="underline"></div></div><div class="col50"><div class="subheaders header-c">CONSTITUTION </div><div class="underline"></div>      </div>
                              </div>
                  <div class="property property--w" ng-init="screen8.prop1 = false" ng-click="screen8.prop1 = !screen8.prop1;countScreen()"
                        ng-class="{'active-item': screen8.prop1,'crossed-item':(screen8.total>maxAttributes && !screen8.prop1)}">A Leader</div>
                  <div class="property property--c" ng-init="screen8.prop2 = false" ng-click="screen8.prop2 = !screen8.prop2;countScreen()"
                        ng-class="{'active-item': screen8.prop2,'crossed-item':(screen8.total>maxAttributes && !screen8.prop2)}">Doesn’t Been Used For Political Goals</div>
                  <div class="property property--w" ng-init="screen8.prop3 = false" ng-click="screen8.prop3 = !screen8.prop3;countScreen()"
                        ng-class="{'active-item': screen8.prop3,'crossed-item':(screen8.total>maxAttributes && !screen8.prop3)}">Economically Influential</div>
                  <div class="property property--c" ng-init="screen8.prop4 = false" ng-click="screen8.prop4 = !screen8.prop4;countScreen()"
                        ng-class="{'active-item': screen8.prop4,'crossed-item':(screen8.total>maxAttributes && !screen8.prop4)}">Strong And Smart Military</div>
                  <div class="property property--w" ng-init="screen8.prop5 = false" ng-click="screen8.prop5 = !screen8.prop5;countScreen()"
                        ng-class="{'active-item': screen8.prop5,'crossed-item':(screen8.total>maxAttributes && !screen8.prop5)}">Politically Influential</div>
                  <div class="property property--c" ng-init="screen8.prop6 = false" ng-click="screen8.prop6 = !screen8.prop6;countScreen()"
                        ng-class="{'active-item': screen8.prop6,'crossed-item':(screen8.total>maxAttributes && !screen8.prop6)}">Strong International Alliances</div>
                  <div class="property property--w" ng-init="screen8.prop7 = false" ng-click="screen8.prop7 = !screen8.prop7;countScreen()"
                        ng-class="{'active-item': screen8.prop7,'crossed-item':(screen8.total>maxAttributes && !screen8.prop7)}">Strong Military</div>
            </div>
            <div class='screen screen--mark' ng-show="screen==11">
                  <div class="background"></div>
                  <h1>IX<br>QUALITY OF LIFE</h1>
                        <div class="flex-2cols">
                                    <div class="col50"><div class="subheaders header-w">WHARTON</div><div class="underline"></div></div><div class="col50"><div class="subheaders header-c">CONSTITUTION </div><div class="underline"></div>      </div>
                              </div>
                  <div class="property property--w" ng-init="screen9.prop1 = false" ng-click="screen9.prop1 = !screen9.prop1;countScreen()"
                        ng-class="{'active-item': screen9.prop1,'crossed-item':(screen9.total>maxAttributes && !screen9.prop1)}">A Good Job Market</div>
                  <div class="property property--c" ng-init="screen9.prop2 = false" ng-click="screen9.prop2 = !screen9.prop2;countScreen()"
                        ng-class="{'active-item': screen9.prop2,'crossed-item':(screen9.total>maxAttributes && !screen9.prop2)}">Social Rights For All Citizenship</div>
                  <div class="property property--w" ng-init="screen9.prop3 = false" ng-click="screen9.prop3 = !screen9.prop3;countScreen()"
                        ng-class="{'active-item': screen9.prop3,'crossed-item':(screen9.total>maxAttributes && !screen9.prop3)}">Affordable</div>
                  <div class="property property--c" ng-init="screen9.prop4 = false" ng-click="screen9.prop4 = !screen9.prop4;countScreen()"
                        ng-class="{'active-item': screen9.prop4,'crossed-item':(screen9.total>maxAttributes && !screen9.prop4)}">Well Reserved Retirement Scheme</div>
                  <div class="property property--w" ng-init="screen9.prop5 = false" ng-click="screen9.prop5 = !screen9.prop5;countScreen()"
                        ng-class="{'active-item': screen9.prop5,'crossed-item':(screen9.total>maxAttributes && !screen9.prop5)}">Economically Stable</div>
                  <div class="property property--c" ng-init="screen9.prop6 = false" ng-click="screen9.prop6 = !screen9.prop6;countScreen()"
                        ng-class="{'active-item': screen9.prop6,'crossed-item':(screen9.total>maxAttributes && !screen9.prop6)}">6 Months Maternity Leave
                        <br>For All Parents</div>
                  <div class="property property--w" ng-init="screen9.prop7 = false" ng-click="screen9.prop7 = !screen9.prop7;countScreen()"
                        ng-class="{'active-item': screen9.prop7,'crossed-item':(screen9.total>maxAttributes && !screen9.prop7)}">Family Friendly</div>
                  <div class="property property--c" ng-init="screen9.prop8 = false" ng-click="screen9.prop8 = !screen9.prop8;countScreen()"
                        ng-class="{'active-item': screen9.prop8,'crossed-item':(screen9.total>maxAttributes && !screen9.prop8)}">Govermant Finance Education
                        <br>As From The Age Of 12 Month
                        <br>And Until The Completion Of B.A.</div>
                  <div class="property property--w" ng-init="screen9.prop9 = false" ng-click="screen9.prop9 = !screen9.prop9;countScreen()"
                        ng-class="{'active-item': screen9.prop9,'crossed-item':(screen9.total>maxAttributes && !screen9.prop9)}">Income Equality</div>
                  <div class="property property--w" ng-init="screen9.prop10 = false" ng-click="screen9.prop10 = !screen9.prop10;countScreen()"
                        ng-class="{'active-item': screen9.prop10,'crossed-item':(screen9.total>maxAttributes && !screen9.prop10)}">Well-Developed And Affordable
                        <br>Public Health System</div>
                  <div class="property property--w" ng-init="screen9.prop11 = false" ng-click="screen9.prop11 = !screen9.prop11;countScreen()"
                        ng-class="{'active-item': screen9.prop11,'crossed-item':(screen9.total>maxAttributes && !screen9.prop11)}">Politically Stable</div>
                  <div class="property property--w" ng-init="screen9.prop12 = false" ng-click="screen9.prop12 = !screen9.prop12;countScreen()"
                        ng-class="{'active-item': screen9.prop12,'crossed-item':(screen9.total>maxAttributes && !screen9.prop12)}">Safe</div>
                  <div class="property property--w" ng-init="screen9.prop13 = false" ng-click="screen9.prop13 = !screen9.prop13;countScreen()"
                        ng-class="{'active-item': screen9.prop13,'crossed-item':(screen9.total>maxAttributes && !screen9.prop13)}">Well-Developed Public Education System</div>
                  <div class="property property--w" ng-init="screen9.prop14 = false" ng-click="screen9.prop14 = !screen9.prop14;countScreen()"
                        ng-class="{'active-item': screen9.prop14,'crossed-item':(screen9.total>maxAttributes && !screen9.prop14)}">Well-Developed Public Health System </div>
            </div>
            <div class='screen screen--mark' ng-show="screen==12">
                        <div class="background"></div>
                  <h1>NEW CONSTITUTION IS BEING MADE</h1>
                  <div class="loader">
                        <div class="loader-dot"></div>
                        <div class="loader-dot"></div>
                        <div class="loader-dot"></div>
                  </div>
</div>

            <div class='screen' ng-show="screen==13">

                  <!-- results -->
                  <div class="results-screen-padding"></div>
                  <div class="background"></div>
                  
                  <div class="results-block-wrap">
                        
                        <h4>ADVENTURE</h4>
                        <div class="results-block">
                              <div class="results-w" ng-class="{'active-item': screen1.prop1,'crossed-item':(screen1.total>maxAttributes && !screen1.prop1)}">Friendly</div>
                              <div class="results-c" ng-class="{'active-item': screen1.prop2,'crossed-item':(screen1.total>maxAttributes && !screen1.prop2)}">Safe Exploring</div>
                              <div class="results-w" ng-class="{'active-item': screen1.prop3,'crossed-item':(screen1.total>maxAttributes && !screen1.prop3)}">Fun</div>
                              <div class="results-c" ng-class="{'active-item': screen1.prop4,'crossed-item':(screen1.total>maxAttributes && !screen1.prop4)}">Outgoing</div>
                              <div class="results-w" ng-class="{'active-item': screen1.prop5,'crossed-item':(screen1.total>maxAttributes && !screen1.prop5)}">Pleasant Climate</div>
                              <div class="results-c" ng-class="{'active-item': screen1.prop6,'crossed-item':(screen1.total>maxAttributes && !screen1.prop6)}">Wild Life</div>
                              <div class="results-w" ng-class="{'active-item': screen1.prop7,'crossed-item':(screen1.total>maxAttributes && !screen1.prop7)}">Scenic</div>
                              <div class="results-c" ng-class="{'active-item': screen1.prop8,'crossed-item':(screen1.total>maxAttributes && !screen1.prop8)}">Non Homo-Centric</div>
                              <div class="results-w" ng-class="{'active-item': screen1.prop9,'crossed-item':(screen1.total>maxAttributes && !screen1.prop9)}">Sexy</div>
                        </div>
                  </div>


                  <div class="results-block-wrap">
                        <h4>CITIZENSHIP</h4>
                        <div class="results-block">
                              <div class="results-w" ng-class="{'active-item': screen2.prop1,'crossed-item':(screen2.total>maxAttributes && !screen2.prop1)}">Cares About Human Rights</div>
                              <div class="results-c" ng-class="{'active-item': screen2.prop2,'crossed-item':(screen2.total>maxAttributes && !screen2.prop2)}">Cares About The Environment</div>
                              <div class="results-w" ng-class="{'active-item': screen2.prop3,'crossed-item':(screen2.total>maxAttributes && !screen2.prop3)}">Gender Equality</div>
                              <div class="results-w" ng-class="{'active-item': screen2.prop4,'crossed-item':(screen2.total>maxAttributes && !screen2.prop4)}">Progressive</div>
                              <div class="results-w" ng-class="{'active-item': screen2.prop5,'crossed-item':(screen2.total>maxAttributes && !screen2.prop5)}">Religious Freedom</div>
                              <div class="results-w" ng-class="{'active-item': screen2.prop6,'crossed-item':(screen2.total>maxAttributes && !screen2.prop6)}">Respects Property Rights</div>
                              <div class="results-w" ng-class="{'active-item': screen2.prop7,'crossed-item':(screen2.total>maxAttributes && !screen2.prop7)}">Trustworthy</div>
                              <div class="results-w" ng-class="{'active-item': screen2.prop8,'crossed-item':(screen2.total>maxAttributes && !screen2.prop8)}">Well-Distributed Political Power</div>
                        </div>
                  </div>

                  <div class="results-block-wrap">
                        <h4>CULTURAL INFLUENCE</h4>
                        <div class="results-block">
                              <div class="results-w" ng-class="{'active-item': screen3.prop1,'crossed-item':(screen3.total>maxAttributes && !screen3.prop1)}">Culturally Significant In Terms Of Entertainment</div>
                              <div class="results-c" ng-class="{'active-item': screen3.prop2,'crossed-item':(screen3.total>maxAttributes && !screen3.prop2)}">Art As An Engine For Growth And Entrepreneurship</div>
                              <div class="results-w" ng-class="{'active-item': screen3.prop3,'crossed-item':(screen3.total>maxAttributes && !screen3.prop3)}">Fashionable</div>
                              <div class="results-c" ng-class="{'active-item': screen3.prop4,'crossed-item':(screen3.total>maxAttributes && !screen3.prop4)}">Diverse And Open For Different Influences Contemporary</div>
                              <div class="results-w" ng-class="{'active-item': screen3.prop5,'crossed-item':(screen3.total>maxAttributes && !screen3.prop5)}">Happy</div>
                              <div class="results-c" ng-class="{'active-item': screen3.prop6,'crossed-item':(screen3.total>maxAttributes && !screen3.prop6)}">Support Art As Educational Necessity</div>
                              <div class="results-w" ng-class="{'active-item': screen3.prop7,'crossed-item':(screen3.total>maxAttributes && !screen3.prop7)}">Has An Influential Culture</div>
                              <div class="results-c" ng-class="{'active-item': screen3.prop8,'crossed-item':(screen3.total>maxAttributes && !screen3.prop8)}">Modern</div>
                              <div class="results-w" ng-class="{'active-item': screen3.prop9,'crossed-item':(screen3.total>maxAttributes && !screen3.prop9)}">Prestigious</div>
                              <div class="results-w" ng-class="{'active-item': screen3.prop10,'crossed-item':(screen3.total>maxAttributes && !screen3.prop10)}">Trendy</div>



                        </div>
                  </div>



                  <div class="results-block-wrap">
                        <h4>ENTREPRENEURSHIP</h4>
                        <div class="results-block">
                              <div class="results-w" ng-class="{'active-item': screen4.prop1,'crossed-item':(screen4.total>maxAttributes && !screen4.prop1)}">Connected To The Rest Of The World</div>
                              <div class="results-c" ng-class="{'active-item': screen4.prop2,'crossed-item':(screen4.total>maxAttributes && !screen4.prop2)}">Entrepreneurship That Reflects the Diversity of the Population</div>
                              <div class="results-w" ng-class="{'active-item': screen4.prop3,'crossed-item':(screen4.total>maxAttributes && !screen4.prop3)}">Educated Population</div>
                              <div class="results-c" ng-class="{'active-item': screen4.prop4,'crossed-item':(screen4.total>maxAttributes && !screen4.prop4)}">Skilled Labor Force In All Fields</div>
                              <div class="results-w" ng-class="{'active-item': screen4.prop5,'crossed-item':(screen4.total>maxAttributes && !screen4.prop5)}">Entrepreneurial</div>
                              <div class="results-c" ng-class="{'active-item': screen4.prop6,'crossed-item':(screen4.total>maxAttributes && !screen4.prop6)}">Social Mobility</div>
                              <div class="results-w" ng-class="{'active-item': screen4.prop7,'crossed-item':(screen4.total>maxAttributes && !screen4.prop7)}">Innovative</div>
                              <div class="results-c" ng-class="{'active-item': screen4.prop8,'crossed-item':(screen4.total>maxAttributes && !screen4.prop8)}">Provides Easy Access To Capital</div>
                              <div class="results-w" ng-class="{'active-item': screen4.prop9,'crossed-item':(screen4.total>maxAttributes && !screen4.prop9)}">Skilled Labor Force</div>
                              <div class="results-w" ng-class="{'active-item': screen4.prop10,'crossed-item':(screen4.total>maxAttributes && !screen4.prop10)}">Transparent Business</div>
                              <div class="results-w" ng-class="{'active-item': screen4.prop11,'crossed-item':(screen4.total>maxAttributes && !screen4.prop11)}">Practices</div>
                              <div class="results-w" ng-class="{'active-item': screen4.prop12,'crossed-item':(screen4.total>maxAttributes && !screen4.prop12)}">Well-Developed Infrastructure</div>
                              <div class="results-w" ng-class="{'active-item': screen4.prop13,'crossed-item':(screen4.total>maxAttributes && !screen4.prop13)}">Well-Developed Legal Framework</div>
                        </div>
                  </div>

                  <div class="results-block-wrap">
                        <h4>HERITAGE</h4>
                        <div class="results-block">
                              <div class="results-w" ng-class="{'active-item': screen5.prop1,'crossed-item':(screen5.total>maxAttributes && !screen5.prop1)}">Culturally Accessible</div>
                              <div class="results-c" ng-class="{'active-item': screen5.prop2,'crossed-item':(screen5.total>maxAttributes && !screen5.prop2)}">Promotes And Preserves The Heritage Of The Different Social Groups Of Its Citizens</div>
                              <div class="results-w" ng-class="{'active-item': screen5.prop3,'crossed-item':(screen5.total>maxAttributes && !screen5.prop3)}">Has A Rich History</div>
                              <div class="results-c" ng-class="{'active-item': screen5.prop4,'crossed-item':(screen5.total>maxAttributes && !screen5.prop4)}">Has Great Food</div>
                              <div class="results-w" ng-class="{'active-item': screen5.prop5,'crossed-item':(screen5.total>maxAttributes && !screen5.prop5)}">Many Cultural Attractions</div>
                        </div>
                  </div>

                  <div class="results-block-wrap">
                        <h4>MOVERS</h4>
                        <div class="results-block">
                              <div class="results-w" ng-class="{'active-item': screen6.prop1,'crossed-item':(screen6.total>maxAttributes && !screen6.prop1)}">Different</div>
                              <div class="results-w" ng-class="{'active-item': screen6.prop2,'crossed-item':(screen6.total>maxAttributes && !screen6.prop2)}">Distinctive</div>
                              <div class="results-w" ng-class="{'active-item': screen6.prop3,'crossed-item':(screen6.total>maxAttributes && !screen6.prop3)}">Dynamic</div>
                              <div class="results-w" ng-class="{'active-item': screen6.prop4,'crossed-item':(screen6.total>maxAttributes && !screen6.prop4)}">Unique</div>

                        </div>
                  </div>

                  <div class="results-block-wrap">
                        <h4>OPEN FOR BUSINESS</h4>
                        <div class="results-block">
                              <div class="results-w" ng-class="{'active-item': screen7.prop1,'crossed-item':(screen7.total>maxAttributes && !screen7.prop1)}">Bureaucratic</div>
                              <div class="results-c" ng-class="{'active-item': screen7.prop2,'crossed-item':(screen7.total>maxAttributes && !screen7.prop2)}">Friendly Updates Bureaucracy</div>
                              <div class="results-w" ng-class="{'active-item': screen7.prop3,'crossed-item':(screen7.total>maxAttributes && !screen7.prop3)}">Cheap Manufacturing Costs</div>
                              <div class="results-c" ng-class="{'active-item': screen7.prop4,'crossed-item':(screen7.total>maxAttributes && !screen7.prop4)}">Low Manufacturing Costs</div>
                              <div class="results-w" ng-class="{'active-item': screen7.prop5,'crossed-item':(screen7.total>maxAttributes && !screen7.prop5)}">Corrupt</div>
                              <div class="results-c" ng-class="{'active-item': screen7.prop6,'crossed-item':(screen7.total>maxAttributes && !screen7.prop6)}">Equale Representation For All Gender Races Backgrounds In Key Positions</div>
                              <div class="results-w" ng-class="{'active-item': screen7.prop7,'crossed-item':(screen7.total>maxAttributes && !screen7.prop7)}">Favorable Tax Environment</div>
                              <div class="results-c" ng-class="{'active-item': screen7.prop8,'crossed-item':(screen7.total>maxAttributes && !screen7.prop8)}">Transparent Government Practices</div>
                              <div class="results-w" ng-class="{'active-item': screen7.prop9,'crossed-item':(screen7.total>maxAttributes && !screen7.prop9)}">Transparent Government Practices</div>

                        </div>
                  </div>

                  <div class="results-block-wrap">
                        <h4>POWER</h4>
                        <div class="results-block">
                              <div class="results-w" ng-class="{'active-item': screen8.prop1,'crossed-item':(screen8.total>maxAttributes && !screen8.prop1)}">A Leader</div>
                              <div class="results-c" ng-class="{'active-item': screen8.prop2,'crossed-item':(screen8.total>maxAttributes && !screen8.prop2)}">Doesn’t Been Used For Political Goals</div>
                              <div class="results-w" ng-class="{'active-item': screen8.prop3,'crossed-item':(screen8.total>maxAttributes && !screen8.prop3)}">Economically Influential</div>
                              <div class="results-c" ng-class="{'active-item': screen8.prop4,'crossed-item':(screen8.total>maxAttributes && !screen8.prop4)}">Strong And Smart Military</div>
                              <div class="results-w" ng-class="{'active-item': screen8.prop5,'crossed-item':(screen8.total>maxAttributes && !screen8.prop5)}">Politically Influential</div>
                              <div class="results-c" ng-class="{'active-item': screen8.prop6,'crossed-item':(screen8.total>maxAttributes && !screen8.prop6)}">Strong International Alliances</div>
                              <div class="results-w" ng-class="{'active-item': screen8.prop7,'crossed-item':(screen8.total>maxAttributes && !screen8.prop7)}">Strong Military</div>

                        </div>
                  </div>

                  <div class="results-block-wrap">
                        <h4>QUALITY OF LIFE</h4>
                        <div class="results-block">
                              <div class="results-w" ng-class="{'active-item': screen9.prop1,'crossed-item':(screen9.total>maxAttributes && !screen9.prop1)}">A Good Job Market</div>
                              <div class="results-c" ng-class="{'active-item': screen9.prop2,'crossed-item':(screen9.total>maxAttributes && !screen9.prop2)}">Social Rights For All Citizenship</div>
                              <div class="results-w" ng-class="{'active-item': screen9.prop3,'crossed-item':(screen9.total>maxAttributes && !screen9.prop3)}">Affordable</div>
                              <div class="results-c" ng-class="{'active-item': screen9.prop4,'crossed-item':(screen9.total>maxAttributes && !screen9.prop4)}">Well Reserved Retirement Scheme</div>
                              <div class="results-w" ng-class="{'active-item': screen9.prop5,'crossed-item':(screen9.total>maxAttributes && !screen9.prop5)}">Economically Stable</div>
                              <div class="results-c" ng-class="{'active-item': screen9.prop6,'crossed-item':(screen9.total>maxAttributes && !screen9.prop6)}">6 Months Maternity Leave For All Parents</div>
                              <div class="results-w" ng-class="{'active-item': screen9.prop7,'crossed-item':(screen9.total>maxAttributes && !screen9.prop7)}">Family Friendly</div>
                              <div class="results-c" ng-class="{'active-item': screen9.prop8,'crossed-item':(screen9.total>maxAttributes && !screen9.prop8)}">Govermant Finance Education As From The Age Of 12 Month And Until The Completion Of B.A.</div>
                              <div class="results-w" ng-class="{'active-item': screen9.prop9,'crossed-item':(screen9.total>maxAttributes && !screen9.prop9)}">Income Equality</div>
                              <div class="results-w" ng-class="{'active-item': screen9.prop10,'crossed-item':(screen9.total>maxAttributes && !screen9.prop10)}">Well-Developed And Affordable Public Health System</div>
                              <div class="results-w" ng-class="{'active-item': screen9.prop11,'crossed-item':(screen9.total>maxAttributes && !screen9.prop11)}">Politically Stable</div>
                              <div class="results-w" ng-class="{'active-item': screen9.prop12,'crossed-item':(screen9.total>maxAttributes && !screen9.prop12)}">Safe</div>
                              <div class="results-w" ng-class="{'active-item': screen9.prop13,'crossed-item':(screen9.total>maxAttributes && !screen9.prop13)}">Well-Developed Public Education System</div>
                              <div class="results-w" ng-class="{'active-item': screen9.prop14,'crossed-item':(screen9.total>maxAttributes && !screen9.prop14)}">Well-Developed Public Health System </div>

                        </div>
                  </div>




            </div>

            <div class='bottom-sheet'>
                        <div class='button--prev' ng-click="prevScreen()" ng-class="{'hide-button':(screen == 0 || screen==12 || screen==13)}"><img src="img/prev.svg" alt=""></div>
                  <div class='button--attr' ng-class="{'hide-button':(screen < 3 || screen > 12)}" ng-click="screen=2" ng-hide="screen==13 || screen == 12 || screen==0">attributes</div>
                  <div class='button--attr' ng-show="screen==13">print</div>
                  <div class='button--attr' ng-show="screen==0">A NEW CONSTITUTION PROPOSAL</div>
                  <div class='button--next' ng-click="nextScreen()" ng-class="{'hide-button':(screen == 13 || screen == 12),'glow':isFinished(screen)}" ><img src="img/next.svg" alt=""></div>
                  
            </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
      <script src="js/app.js"></script>
</body>

</html>
